name: CI

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}  # ワークフロー×ブランチでグループ化
  cancel-in-progress: true  # 前の実行をキャンセル

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build or push
        run: |
          set -euxo pipefail
          export LOCK_HASH=python-$(sha1sum < uv.lock | cut -d' ' -f1)
          export RUNTIME_TAG=$LOCK_HASH
          
          if ! docker manifest inspect kirimaru/fastapi-practice_dev-runtime:$RUNTIME_TAG > /dev/null 2>&1; then
            docker buildx create --name builder --use --platform linux/amd64
            docker buildx build --builder builder --target dev_runtime -t kirimaru/fastapi-practice_dev-runtime:$RUNTIME_TAG --output type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true,push=true .
          fi

  test:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 30  # 30分で停止
    env:
      BUILD_TARGET: test
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker image
        run: |
          LOCK_HASH=$(sha1sum < uv.lock | cut -d' ' -f1)
          RUNTIME_TAG="python-$LOCK_HASH"
          echo "RUNTIME_TAG=$RUNTIME_TAG" >> $GITHUB_ENV
          docker pull kirimaru/fastapi-practice_dev-runtime:$RUNTIME_TAG

      - name: Compose up
        run: |
          export RUNTIME_TAG=${{ env.RUNTIME_TAG }}
          docker compose up -d --wait

      - name: DB migration
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_wait_seconds: 10
          command: docker compose exec api uv run alembic upgrade head

      - name: Run tests
        run: docker compose exec -T api uv run pytest --alluredir=/app/allure-results
#        run: uv run pytest --alluredir=./allure-results

      # デバッグ
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: failure() # 失敗したときだけ接続したい場合

      - name: Copy Allure results from container
        run: |
          docker cp $(docker compose ps -q api):/app/allure-results ./allure-results

      - name: Build test report
        uses: simple-elf/allure-report-action@v1.13
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
